<link rel="stylesheet" href="{{ url_for('static', filename='css/layui.css') }}" media="all">
<script src="{{ url_for('static', filename='layui.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script>
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length+1, c.length-1);
        }
        return null;
    }
</script>
<style>
    body {
        background-color: #F9F4F4;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-text">这里是想放一幅画的</div>
        </div>
    </div>
</div>