<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记事系统</title>
</head>
<body>
{% include "base/headbar.html" %}
{% include"base/daohang.html" %}
<div class="layui-text2">已加载Layui和jQuery。以后所有项目复制一份这个出去再写。 flask的flash消息，需要get_flashed_messages()返回</div>
<div class="layui-btn-warm">layui</div>
<div class="container">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
{% include "base/xinjianthing.html" %}
{% include "base/footbar.html" %}
</div>
</body>
</html>