<link href="../static/css/layui.css" rel="stylesheet" />
<script src="../static/layui.js"></script>
<script>
    layui.use(['table','layer'], function(){
        var table = layui.table;
        var layer = layui.layer;

    // 打开一个询问框，禁止点击遮罩层关闭
    var index = layer.confirm('您是否确认要执行此操作？', {
        btn: ['确定','取消'],
        shadeClose: false // 禁止点击遮罩层关闭
    }, function(){
        // 点击确定按钮的回调
        layer.close(index); // 关闭弹窗
        layer.msg('执行了确定操作');
    }, function(){
        // 点击取消按钮的回调
        layer.msg('已取消操作');
    });
});
</script>