<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记事系统</title>
</head>
<body>
{% include "base/headbar.html" %}
{% include"base/daohang.html" %}
<div class="layui-text2">已加载Layui和jQuery。以后所有项目复制一份这个出去再写。 flask的flash消息，需要get_flashed_messages()返回</div>
<div class="layui-btn-warm">v1.0.4 修复记录的权限，防止URL拼接访问到别人的记录。</div>
<div class="layui-text" style="font-size: 32px; margin-top: 10px;">录后查看，并且只能看到自己的。</div>
<div class="container">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
{% include "base/footbar.html" %}
</div>
</body>
</html>
